* {
  padding: 0;
  margin: 0;
  outline: none;
  border: none;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #08083a;
}

img {
  width: 100%;
}

nav {
  max-width: 1200px;
  margin: auto;
  padding: 1rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem; /*Khoang cach giua cac hang va cot*/
}

.logo {
  max-width: 200px;
}

.links {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 3rem;
}

.link a {
  position: relative;
  padding-bottom: 0.7rem;
  color: white;
}

.link a::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 0;
  bottom: 0;
  left: 0;
  background-color: white;
  transition: all 0.5s ease;
}

.link a:hover::after {
  width: 100%;
}

.bt {
  padding: 1rem 2rem;
  font-size: 1rem;
  color: white;
  background-color: #4040e4;
  border-radius: 7px;
  cursor: pointer;
  transition: all 2s ease;
}

.bt:hover {
  background-color: white;
  color: #090933;
}

.container {
  max-width: 1200px;
  margin: auto;
  padding: 2rem 2rem;
}

.content {
  position: absolute;
  box-shadow: 0 0 1500px 300px #3c3ce9; /*shadow cho 1 vùng*/
  z-index: -100; /*Xếp nền chữ trên cái phông nền*/
}

header {
  position: relative;
  padding-top: 0;
  display: grid; /*chia ra 2 phần*/
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 2rem;
}

header .contents {
  margin-bottom: 1rem;
  color: white;
  padding-right: 4rem;
}

header .contents h4 {
  margin-bottom: 1rem;
  color: white;
  font-size: 1rem;
}

header .contents h1 {
  color: white;
  margin-bottom: 1rem;
  font-size: 3.5rem;
  line-height: 4rem;
}

header .image {
  position: relative;
}

header .image::before {
  content: "OU";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%); /*nằm dưới*/
  font-size: 25rem;
  font-weight: 400;
  line-height: 40rem;
  color: rgb(85, 85, 231);
  opacity: 0.35; /*Độ mờ*/
}

header .image img {
  max-width: 600px;
  margin: auto;
}


section .header {
  margin-bottom: 1rem;
  color: white;
  text-align: center;
  font-size: 2.5rem; 
}

.banner {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(3,1fr); /*3 lần 1fr*/
  gap: 2rem;
}

.banner .card {
  background-color:#1a1a4b ;
  padding: 1rem;
  border:2px solid transparent;/*màu viền i như màu của background*/
  border-radius: 20px;
  transition: all 0.7s ease;
  border-color: white ;
}

.banner .card span {
  display: inline-block;
  background-color: lightblue;
  padding: 3px 10px; 
  margin-bottom: 1rem;
  font-size: 2rem;
  border-radius: 7px;
}

.banner .card h4 {
  margin-bottom: 0.5rem;
  color: white;
  font-size: 1.5rem;
}

.banner .card ul>li {
  color: white;
  margin: 0.5rem 1rem; 
}

.banner .card:hover {
  background-color:#1c0ee7 ;
  border-color:white ;
}

.card > a {
  display: block;
}
